<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">

</head>
<body>

	<div class="container">
		<div th:fragment="footer">
			<footer class="footer">
				<div class="container">
					<p class="text-muted text-center">
						(511)428-3820 (511)428-3821 mail@popular-safi.com Av.Nicolas de
						Pierola 938 Of.302 Lima-Peru. <br />Soporte:
						dpisco@popular-safi.com jyovera@popular-safi.com
					</p>

				</div>
			</footer>
		</div>


	</div>
</body>
</html>