<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en" th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/recursos/css/bootstrap.min.css"
	th:href="@{../recursos/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/recursos/jquery-ui-1.11.4.eggplant/jquery-ui.min.css"
	th:href="@{../recursos/jquery-ui-1.11.4.eggplant/jquery-ui.min.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
</body>
</html>